@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&family=Poppins:wght@300;400;500;600;700&display=swap");

main {
  height: 100%;
  width: 100%;
  background-color: #e8e7e7;
  align-items: center;
  text-align: center;
}

* {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  margin-top: 5px;
}

.btn {
  display: inline-block;
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
nav {
  display: flex;
  align-items: center;
  text-emphasis: justify;
  background-color: #1d8100;
  height: 150px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#imagem {
  position: relative;
  background-color: rgb(190, 243, 243);
  height: 300px;
  width: 100%;
  background-image: url(../Imagens/vista-de-um-por-do-sol-sobre-as-nuvens-com-o-ceu-apresentando-varias-cores.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #e8e7e7;
  background-color: #1d8100;
  height: 100px;
  width: 100%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  height: 110px;
  width: 10%;
  font-size: 19px;
}
